1_pointCloud/build
1_pointCloud/bin
1_pointCloud/__pycache__
2_KDTree/build
2_KDTree/bin
2_KDTree/__pycache__
3_OutlierRemoval/build
3_OutlierRemoval/bin
3_OutlierRemoval/__pycache__
4_Voxelization/build
4_Voxelization/bin
4_Voxelization/__pycache__
